button {
    background-color: rgb(50, 155, 40);
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 20%;
    margin-top: 2%;
    margin-right: 2%;
}

body {
    background-image: url(photo/natasha-reddy-Ap-PxHcDUO0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

input {
    width: 15%;
    padding: 10px 20px;
}